body{
    margin: 0 0 0 0;
    padding: 0pt;
    background-color: #cccccc;
}
#background1{
    background-color: #e5e5e5;
    margin: 0 10pt 0 10pt;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.74);
    padding: 10px;
}

/* ---------- configuração do menu------------ */
#menu li{
    list-style-type: none;
    float: left;
    border: solid 1px rgb(0, 0, 0);
    color: rgb(211, 168, 27);
    margin: 5px;
    margin-left: 0px;
    padding: 5px;
    background-color: rgb(10, 4, 95);
    width: 120pt;
}
#menu ul{
    position: absolute;
    float: right;
    margin-top: 32px;
    padding: 5px;
    margin-right: 13px;
    background-color: #e5e5e5;
}
#menu img{
    margin-top: 10pt;
    width: 150px;
    display: inline;
    float: left;
}
#menu ul{
    display: inline;
}
#menu input{
    margin-top: 10px;
}
/*------------ article -------------*/
section{
    margin-top: 200px;
}
