body{
    margin: 0 0 0 0;
    padding: 0pt;
    background-color: #cccccc;
}
#background1{
    background-color: #e5e5e5;
    margin: 0 10pt 0 10pt;
}

/* ----------- configuração do menu------------- */
#menu li{
    list-style-type: none;
    float: left;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    background-color: brown;
}
#menu img{
    margin-top: 10pt;
    width: 150px;
    display: block;
}
#menu ul{
    display: inline;
}
#menu input{
    margin-top: 10px;
}
/*----------- article ----------*/
